.ddd-btn {
  color: white;
  padding: 0px 15px;
  cursor: pointer;
  color: #00b09a;
}
.ddd-btn:hover {
  color: #006457;
  text-decoration: underline;
}

.ddd-popup {
  min-width: 100px;
  min-height: 100px;
  padding: 20px;
  border-radius: 20px 0 0 0px;
  box-shadow: #848484 -1px -1px 8px 0px;
  background-color: #ffffff;
  z-index: 998;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: all;
}
/*  */
/* .hthb-row {
  display: none;
} */
#afc_sidebar_2842,
#iaujwnefhw,
#sajdhfbjwhe {
  position: fixed !important;
  right: 20000px !important;
  /* display: none; */
}
/*  */
